In [1]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot
import random

import functions as f

%matplotlib inline

In [2]:
# import data 

players = pd.read_csv('./players_testing.csv')
players = players.drop('url', axis=1)

defenses = pd.read_csv('./defenses_testing.csv')
defenses = defenses.drop(['url', 'Unnamed: 0'], axis=1)

In [3]:
# specify only teams included in the model

In [4]:
players = f.proj_player_score(players)
# use random costs to test project

players['cost'] = 0
n_players = players.shape[0]

for player in range(n_players):       #iterate through players
    players.loc[player, 'cost'] = random.randint(10, 46)
    

players.head()

,name,pos,team,yds_passing,tds_passing,yds_receiving,tds_receiving,yds_rushing,tds_rushing,conversion_rushing,conversion_received,conversion_pass,interceptions,fumbles,proj_score,cost
0,Tyreek Hill,WR,KC,0,0,136,2,0,0,0,0,0,0,0,25.6,18
1,DeSean Jackson,WR,TB,0,0,60,1,0,0,0,1,0,0,1,12.0,46
2,Kenny Stills,WR,MIA,0,0,83,1,0,0,0,1,0,0,0,16.3,19
3,Michael Thomas,WR,NO,0,0,55,1,0,0,0,1,0,0,0,13.5,13
4,Mike Evans,WR,TB,0,0,29,1,0,0,0,0,0,0,0,8.9,46

In [5]:
defenses.head()

,name,pos,team,sacks,turnover_tds,turnovers,blocked_kick,safety,pts_against
0,New York Jets,DST,NYJ,1,0,0,1,1,11
1,Minnesota Vikings,DST,MIN,5,1,2,0,0,21
2,Baltimore Ravens,DST,BAL,0,1,2,0,0,28
3,Los Angeles Rams,DST,LAR,0,1,2,0,0,26
4,Cleveland Browns,DST,CLE,5,1,0,0,1,14

In [6]:
defenses = f.proj_defense_score(defenses)

defenses['cost'] = 0
n_defenses = defenses.shape[0]

for defense in range(n_defenses):
    defenses.loc[defense, 'cost'] = random.randint(10, 20)

defenses.head()

,name,pos,team,sacks,turnover_tds,turnovers,blocked_kick,safety,pts_against,proj_score,cost
0,New York Jets,DST,NYJ,1,0,0,1,1,11,10,13
1,Minnesota Vikings,DST,MIN,5,1,2,0,0,21,22,13
2,Baltimore Ravens,DST,BAL,0,1,2,0,0,28,17,17
3,Los Angeles Rams,DST,LAR,0,1,2,0,0,26,17,16
4,Cleveland Browns,DST,CLE,5,1,0,0,1,14,20,12

In [7]:
# get lists of players at each position
qbs = list(players[players.pos == 'QB']['name'])
rbs = list(players[players.pos == 'RB']['name'])
tes = list(players[players.pos == 'TE']['name'])
wrs = list(players[players.pos == 'WR']['name'])
defs = list(defenses['name'])
flexs = list(players[players.pos.isin(['RB', 'TE', 'WR'])]['name'])

In [8]:
players.set_index('name', inplace=True)
defenses.set_index('name', inplace=True)

In [22]:
ex = compile_team('Tom Brady', 'Alvin Kamara', 'Todd Gurley', 'Michael Thomas', 'Larry Fitzgerald', 'Davante Adams', 'Travis Kelce', 'Randall Cobb', 'Chicago Bears')
ex.append(compile_team('Tom Brady', 'Alvin Kamara', 'Todd Gurley', 'Michael Thomas', 'Amari Cooper', 'Amari Cooper', 'Zach Ertz', 'Randall Cobb', 'New Orleans Saints'))

,qb,rb1,rb2,wr1,wr2,wr3,te,defense,flex,cost,proj_score
0,"('Tom Brady', 21, 16)","('Alvin Kamara', 10, 6)","('Todd Gurley', 40, 24)","('Michael Thomas', 13, 13)","('Larry Fitzgerald', 12, 6)","('Davante Adams', 39, -1)","('Travis Kelce', 21, 1)","('Chicago Bears', 14, 7)","('Randall Cobb', 32, 8)",202,82.28
0,"('Tom Brady', 21, 16)","('Alvin Kamara', 10, 6)","('Todd Gurley', 40, 24)","('Michael Thomas', 13, 13)","('Amari Cooper', 11, 23)","('Amari Cooper', 11, 23)","('Zach Ertz', 12, 10)","('New Orleans Saints', 13, 12)","('Randall Cobb', 32, 8)",163,140.28

In [ ]:
#iterate through all positions
for qb in qbs:
    for rb1 in rbs:
        for rb2 in rbs:
            if rb2 == rb1:
                continue
            for wr1 in wrs:
                for wr2 in wrs:
                    if wr1 == wr2:
                        continue
                    for wr3 in wrs:
                        if wr3.isin(wr1, wr2):
                            continue
                        for te in tes:
                            for defense in defs:
                                for flex in flexs:
                                    if flex.isin(['rb1', 'rb2', 'te', 'wr1', 'wr2', 'wr3']):
                                        continue

In [ ]:
#initialize at start of loops
    new_squad = {}
    
    new_squad['qb'] = qb