In [1]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot
import random

import functions as f

%matplotlib inline

In [2]:
# import data 

players = pd.read_csv('./players_testing.csv')
players = players.drop('url', axis=1)

defenses = pd.read_csv('./defenses_testing.csv')
defenses = defenses.drop(['url', 'Unnamed: 0'], axis=1)

In [3]:
# specify only teams included in the model

In [4]:
players = f.proj_player_score(players)
# use random costs to test project

players['cost'] = 0
n_players = players.shape[0]

for player in range(n_players):       #iterate through players
    players.loc[player, 'cost'] = random.randint(10, 46)
    

players.head()

,name,pos,team,yds_passing,tds_passing,yds_receiving,tds_receiving,yds_rushing,tds_rushing,conversion_rushing,conversion_received,conversion_pass,interceptions,fumbles,proj_score,cost
0,Tyreek Hill,WR,KC,0,0,136,2,0,0,0,0,0,0,0,25.6,24
1,DeSean Jackson,WR,TB,0,0,60,1,0,0,0,1,0,0,1,12.0,25
2,Kenny Stills,WR,MIA,0,0,83,1,0,0,0,1,0,0,0,16.3,44
3,Michael Thomas,WR,NO,0,0,55,1,0,0,0,1,0,0,0,13.5,25
4,Mike Evans,WR,TB,0,0,29,1,0,0,0,0,0,0,0,8.9,25

In [5]:
defenses.head()

,name,pos,team,sacks,turnover_tds,turnovers,blocked_kick,safety,pts_against
0,New York Jets,DST,NYJ,1,0,0,1,1,11
1,Minnesota Vikings,DST,MIN,5,1,2,0,0,21
2,Baltimore Ravens,DST,BAL,0,1,2,0,0,28
3,Los Angeles Rams,DST,LAR,0,1,2,0,0,26
4,Cleveland Browns,DST,CLE,5,1,0,0,1,14

In [6]:
defenses = f.proj_defense_score(defenses)

defenses['cost'] = 0
n_defenses = defenses.shape[0]

for defense in range(n_defenses):
    defenses.loc[defense, 'cost'] = random.randint(10, 20)

defenses.head()

,name,pos,team,sacks,turnover_tds,turnovers,blocked_kick,safety,pts_against,proj_score,...,"(23, proj_score)","(24, proj_score)","(25, proj_score)","(26, proj_score)","(27, proj_score)","(28, proj_score)","(29, proj_score)","(30, proj_score)","(31, proj_score)",cost
0,New York Jets,DST,NYJ,1,0,0,1,1,11,0,...,17,13,20,17,18,12,15,14,12,15
1,Minnesota Vikings,DST,MIN,5,1,2,0,0,21,0,...,17,13,20,17,18,12,15,14,12,17
2,Baltimore Ravens,DST,BAL,0,1,2,0,0,28,0,...,17,13,20,17,18,12,15,14,12,20
3,Los Angeles Rams,DST,LAR,0,1,2,0,0,26,0,...,17,13,20,17,18,12,15,14,12,20
4,Cleveland Browns,DST,CLE,5,1,0,0,1,14,0,...,17,13,20,17,18,12,15,14,12,19

In [7]:
# get lists of players at each position
qbs = list(players[players.pos == 'QB']['name'])
rbs = list(players[players.pos == 'RB']['name'])
tes = list(players[players.pos == 'TE']['name'])
wrs = list(players[players.pos == 'WR']['name'])
defs = list(defenses['name'])
flexs = list(players[players.pos.isin(['RB', 'TE', 'WR'])]['name'])

In [8]:
players.set_index('name', inplace=True)
defenses.set_index('name', inplace=True)

In [17]:
def compile_team(qb, rb1, rb2, wr1, wr2, wr3, te, flex, defense, df1=players, df2=defenses):

    #initialize
    team_list = [qb, rb1, rb2, wr1, wr2, wr3, te, flex]
    new_team = {}
    cost = 0
    proj_score = 0
    
    # 
    new_team['qb'] = (qb, df1.loc[qb, 'cost'], df1.loc[qb, 'proj_score'])
    new_team['rb1'] = (rb1, df1.loc[rb1, 'cost'], df1.loc[rb1, 'proj_score'])
    new_team['rb2'] = (rb2, df1.loc[rb2, 'cost'], df1.loc[rb2, 'proj_score'])
    new_team['wr1'] = (wr1, df1.loc[wr1, 'cost'], df1.loc[wr1, 'proj_score'])
    new_team['wr2'] = (wr2, df1.loc[wr2, 'cost'], df1.loc[wr2, 'proj_score'])
    new_team['wr3'] = (wr3, df1.loc[wr3, 'cost'], df1.loc[wr3, 'proj_score'])
    new_team['te'] = (te, df1.loc[te, 'cost'], df1.loc[te, 'proj_score'])
    new_team['defense'] = (defense, df2.loc[defense, 'cost'], df2.loc[defense, 'proj_score'])
    new_team['flex'] = (flex, df1.loc[flex, 'cost'], df1.loc[flex, 'proj_score'])
    
    #calculate 
    for pos in team_list:
        cost += df1.loc[pos, 'cost']
        proj_score += df1.loc[pos, 'proj_score']
        
    cost += df2.loc[defense, 'cost']
    proj_score += df2.loc[defense, 'proj_score']
    
    new_team['cost'] = cost
    new_team['proj_score'] = proj_score
    
    new_team_df = pd.DataFrame(new_team, index = ['player', 'cost', 'proj_score'])
    return new_team_df

In [18]:
compile_team('Matt Ryan', 'Alvin Kamara', 'Todd Gurley', 'Michael Thomas', 'Amari Cooper', 'Davante Adams', 'Travis Kelce', 'Randall Cobb', 'Chicago Bears')

ValueError: Shape of passed values is (11, 3), indices imply (11, 1)

In [ ]:
#iterate through all positions
for qb in qbs:
    for rb1 in rbs:
        for rb2 in rbs:
            if rb2 == rb1:
                continue
            for wr1 in wrs:
                for wr2 in wrs:
                    if wr1 == wr2:
                        continue
                    for wr3 in wrs:
                        if wr3.isin(wr1, wr2):
                            continue
                        for te in tes:
                            for defense in defs:
                                for flex in flexs:
                                    if flex.isin(['rb1', 'rb2', 'te', 'wr1', 'wr2', 'wr3']):
                                        continue

In [ ]:
#initialize at start of loops
    new_squad = {}
    
    new_squad['qb'] = qb